---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/NavBar.astro";
import TimeLine from "../components/TimeLine.astro";
import BackgroundBlur from "../components/BackgroundBlur.astro";
import Meteors from "../components/ui/meteors.jsx";
import Footer from "../components/Footer.astro";
import Titles from "../components/Titles.astro";
import Articles from "../components/Articles.astro";
import ProjectsCards from "../components/ProjectsCards.astro";
import AboutMe from "../components/AboutMe.astro";
import Header from "../components/Header.astro";
import LogosSlider from "../components/LogosSlider.astro";
---

<Layout title="Portfolio Edu Nievas - Desarrollador Full Stack">
    <BackgroundBlur/>
    <Meteors client:load/>
    <NavBar/>
    <Header/>
    <Articles id="proyectos">
        <Titles>
            <svg class="size-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 8l-4 4l4 4"></path>
                <path d="M17 8l4 4l-4 4"></path>
                <path d="M14 4l-4 16"></path>
            </svg>
            Proyectos
        </Titles>
        <ProjectsCards/>
    </Articles>
    <Articles id="tecnologias">
        <Titles>
            <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 19H21M6 17H18C19.1046 17 20 16.1046 20 15V8C20 6.89543 19.1046 6 18 6H6C4.89543 6 4 6.89543 4 8V15C4 16.1046 4.89543 17 6 17Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            Tecnologías
        </Titles>
        <p class="text-[--principal-text-color] ml-12 text-md max-w-[65%]">He trabajado con varias <span class="font-bold text-[--accent]">tecnologías, lenguajes y librerias</span> e intento seguir aprendiendo y mejorando cada vez más. También intento aprender nuevas tecnologías y mejorar mis conocimientos.</p>
        <LogosSlider/>
    </Articles>
    <Articles id="sobre-mi">
        <Titles>
            <svg class="size-8" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                <path d="M15 19l2 2l4 -4"></path>
            </svg>
            Sobre mí
        </Titles>
        <AboutMe/>
    </Articles>
    <Articles id="experiencia">
        <Titles>
            <svg class="size-8" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
                <path d="M12 12l0 .01"></path>
                <path d="M3 13a20 20 0 0 0 18 0"></path>
            </svg>
            Experiencia Laboral
        </Titles>
        <TimeLine/>
    </Articles>

    <Footer/>
</Layout>
