---

---

<article class="ml-6 flex max-w-[60em] px-4 py-8">
    <div class="max-w-[70%]">
        <p class="text-[--principal-text-color] text-lg">
            ¡Hola! Soy Edu Nievas, aunque la mayoría me conoce como Edu o eduni. Tengo 20 años y actualmente estoy
            cursando el Grado Superior en Desarrollo de Aplicaciones Multiplataforma (DAM).
            <span class="text-[--accent] font-bold">
                Mi pasión es el desarrollo web
            </span>
            y estoy en camino para convertirme en un programador Full Stack.
        </p>
        <p class="mt-8 text-[--principal-text-color] text-lg">
            Me especializo en el desarrollo de aplicaciones web y, actualmente,
            <span class="text-[--accent] font-bold">
                estoy en búsqueda de una empresa donde pueda aplicar mis conocimientos y seguir creciendo profesionalmente.
            </span>
            En este portafolio, encontrarás ejemplos de mis proyectos y habilidades, que espero sirvan como una muestra de
            lo que puedo aportar a tu equipo.
        </p>
        <p class="mt-8 text-[--principal-text-color] text-lg">
            Estoy comprometido en mantenerme al día con las tecnologías del desarrollo web, como
            <span class="text-[--accent] font-bold">
                React, Astro y Angular, ampliando constantemente mis conocimientos
            </span>
            para adaptarme a los desafíos del sector. Si estás buscando un desarrollador motivado y versátil, dispuesto a
            contribuir a proyectos web innovadores, no dudes en contactarme.
            <span class="text-[--accent] font-bold">
                ¡Estoy aquí para ayudarte!
            </span>
        </p>
    </div>
    <div class="max-w-[30%] content-center justify-end">
        <img src="/img/me.webp" alt="Edu Nievas" loading="lazy" class="w-[95%] ml-2 h-auto rounded-full transition-all duration-500 hover:scale-105"/>
    </div>
</article>
