---
import MoonIcon from "./MoonIcon.astro";
import SunIcon from "./SunIcon.astro";
---

<div class="flex mx-2 justify-center text-[--principal-text-color] items-center">
    <SunIcon id="sun-theme-icon" width="1.3em"/>
    <label class="switch ml-1 mr-1">
        <input id="theme-switch" type="checkbox" checked="checked">
        <span class="slider round"></span>
    </label>
    <MoonIcon id="moon-theme-icon" width="1.3em"/>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const themeSwitch = document.getElementById("theme-switch") as HTMLInputElement;

        themeSwitch?.addEventListener("change", () => {
            const body = document.body;
            if (themeSwitch.checked) {
                body.classList.remove("theme-light");
                body.classList.add("theme-dark");
            } else {
                body.classList.remove("theme-dark");
                body.classList.add("theme-light");
            }
        });
    });
</script>