---
import LogosSlider from "./LogosSlider.astro";
const { translations } = Astro.props;
---

<p class="my-14 text-[--principal-text-color] ml-12 text-md max-w-[80%] text-lg lg:max-w-[65%]">{translations.technologies.description} <span
        class="font-bold text-[--accent]">{translations.technologies.span}</span>{translations.technologies.descriptionEnd}</p>
<LogosSlider/>
