---
const bgColor = Astro.props.color;
---

<div class=`w-fit h-auto align-center items-center flex gap-x-2 px-4 py-2 rounded-full bg-[blue]/30 transition-all text-[--principal-text-color] text-sm`>
    <slot/>
</div>
