---
import LogosSlider from "./LogosSlider.astro";
---

<p class="text-[--principal-text-color] ml-12 text-md max-w-[80%] md:max-w-[65%]">He trabajado con varias <span
        class="font-bold text-[--accent]">tecnologías, lenguajes y librerias</span> e intento seguir aprendiendo y
    mejorando cada vez más. También intento aprender nuevas tecnologías y mejorar mis conocimientos.</p>
<LogosSlider/>
