---
import Meteors from "../components/ui/meteors";
import BackgroundBlur from "../components/BackgroundBlur.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio Edu Nievas" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="body" class:list={["content-center justify-center items-center", "theme-dark"]}>
		<BackgroundBlur/>
		<Meteors className="hidden lg:block" client:load/>
		<slot />
	</body>
</html>
<style is:global>

	.theme-dark {
		--background: #070F2B;
		--primary: #1B1A55;
		--primary-low-opacity: rgba(27, 26, 85, 0.4);
		--secondary: #535C91;
		--secondary-low-opacity: rgba(83, 92, 145, 0.7);
		--accent: #9290C3;
		--principal-text-color: #ffffff;
		--secondary-text-color: rgba(255, 255, 255, 0.6);
		--navbar-border: rgba(255, 255, 255, 0.3);
		--date-color: rgba(165, 165, 165, 0.9);
		transition: all 0.5s ease-in-out;
	}

	.theme-light {
		--background: #C4DFDF;
		--primary: #ffffff;
		--primary-low-opacity: rgba(255, 255, 255, 0.4);
		--secondary: #DAEAFFFF;
		--secondary-low-opacity: rgba(218, 234, 255, 0.7);
		--accent: #303293;
		--principal-text-color: #000000;
		--secondary-text-color: rgba(0, 0, 0, 0.6);
		--navbar-border: rgba(0, 0, 0, 0.3);
		--date-color: rgba(97, 97, 97, 0.9);
		transition: all 0.5s ease-in-out;
	}

	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: var(--background);
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 2em;
		height: 1.2em;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: .8em;
		width: .8em;
		left: .15em;
		bottom: .20em;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(.75em);
		-ms-transform: translateX(.75em);
		transform: translateX(.75em);
	}

	.slider.round {
		border-radius: 2.1em;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.scrolled {
		background: var(--primary-low-opacity);
		backdrop-filter: blur(8px);
		transition: all 0.5s ease-in-out;
		border: 1px solid var(--navbar-border);
		max-width: 30%;
	}

	.scrolled a, .scrolled SelectLenguage a {
		padding: .7em 1.4em .7em 1.4em;
		font-size: .6rem;
		transition: all 0.5s ease-in-out;
	}

	.not-scrolled {
		background: var(--primary);
		transition: all 0.25s ease-in-out;
	}

	@media (max-width: 768px) {
		.scrolled {
			display: none;
		}

		.not-scrolled {
			display: none;
		}
	}
</style>
